absl-py
aiohappyeyeballs
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
async-property
asyncstdlib
attrs
audioread
Babel
beautifulsoup4
bidict
bleach
blinker
blis
branca
Brotli
browser-cookie3
bs4
cachetools
catalogue
catboost
certifi
cffi
charset-normalizer
click
cloudpathlib
cloudpickle
colorama
comm
confection
contourpy
curl_cffi
cycler
cymem
data
debugpy
decorator
defusedxml
distro
Django
djangorestframework
dm-tree
et-xmlfile
executing
fake-useragent
fastjsonschema
filelock
flasgger
Flask
Flask-Cors
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
flatbuffers
folium
fonttools
fqdn
frozenlist
fsspec
funcsigs
future
gast
gitdb
GitPython
google-pasta
graphviz
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
Js2Py
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
langchain
langchain-core
langcodes
langsmith
language_data
latex
lazy_loader
Levenshtein
libclang
librosa
lightgbm
llvmlite
lxml
lz4
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mmh3
module-name
mpmath
msgpack
multidict
murmurhash
mymod
mysql-connector-python
names
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numpy
openai
opencv-python
openpyxl
opt-einsum
orjson
overrides
package_name
packaging
pandas
pandoc
pandocfilters
parso
pillow
platformdirs
plotly
plumbum
ply
pooch
preshed
prometheus_client
prompt-toolkit
propcache
protobuf
psutil
pure-eval
py-arkose-generator
pyarrow
pybabel
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic_core
pydeck
pydub
PyExecJS
Pygments
pyjsparser
pymailtm
PyMuPDF
PyMuPDFb
pyparsing
PyPasser
PyPDF2
pyperclip
pypng
PySocks
pytesseract
python-dateutil
python-docx
python-engineio
python-json-logger
python-socketio
pytz
pywin32
pywinpty
PyYAML
pyzmq
qrcode
random-password-generator
random-username
RapidFuzz
referencing
regex
requests
requests-toolbelt
retrying
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shap
shellingham
shutilwhich
simple-websocket
six
slicer
smart-open
smmap
sniffio
sortedcontainers
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
sqlparse
srsly
stack-data
streamlit
sympy
tabula-py
tempdir
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
thinc
threadpoolctl
tinycss2
tls-client
tokenizers
toml
torch
torchaudio
tornado
tqdm
traitlets
transformers
TwoCaptcha
typer
types-python-dateutil
typing_extensions
tzdata
tzlocal
undetected-chromedriver
uri-template
urllib3
wasabi
watchdog
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
wsproto
xgboost
xyzservices
yarl
zstandard